admin_cidr      = "182.76.246.162/32"
app_port        = 5000
github_branch   = "main"
github_repo_url = "https://github.com/CoderShrikant02/major_frontend.git"
app_secret_key  = "replace-me"
db_host         = "localhost"
db_user         = "root"
db_password     = "replace-me"
db_name         = "tomato_disease_db"

github_egress_cidrs = [
  "140.82.112.0/20",
  "192.30.252.0/22",
  "185.199.108.0/22",
]

ubuntu_repo_egress_cidrs = [
  "185.125.190.0/23",
  "185.125.188.0/22",
  "91.189.88.0/21",
]
