admin_cidr       = "182.76.246.162/32"
app_port         = 5000
github_repo_url  = "https://github.com/CoderShrikant02/major_frontend.git"
github_branch    = "main"
ssh_key_name     = "your-ec2-keypair-name"
app_secret_key   = "tomato-ai-demo-secret-key"
db_name          = "tomato_disease_db"
db_user          = "tomato_user"
db_password      = "tomato_password"
db_root_password = "rootpassword"
